.testimonials-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-wrap: wrap;
  }
  
  .testimonial {
    width: 300px; /* Adjust width as needed */
    margin: 20px; /* Add margin between testimonials */
    text-align: center; /* Center text content */
  }
  
  .testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
  }
  
  .testimonial-image {
    border-radius: 50%; /* Make the image circular */
    width: 150px; /* Set image width */
    height: 150px; /* Set image height */
    object-fit: cover;
    margin-bottom: 10px; /* Add margin below image */
  }
  .say {
    text-align: center; /* Center the text horizontally */
    margin-bottom: 30px; /* Add margin for spacing */
  }