/* Styles for the unique-charity-card class */
.unique-charity-card {
    width: 360px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    box-sizing: border-box;
    background: #D0D0D0;
    border: 1px solid #CCCDD3;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Hover effect */
  .unique-charity-card:hover {
    transform: scale(1.03);
  }
  
  /* Styles for the card image */
  .unique-charity-card .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  /* Styles for the card body */
  .unique-charity-card .card-body {
    padding: 20px;
  }
  
  /* Styles for card text */
  .unique-charity-card .card-text {
    margin-bottom: 10px;
  }
  
  /* Styles for heading */
  .unique-charity-card .h5 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  /* Styles for custom progress bar */
  .unique-charity-card .custom-progress-bar {
    height: 20px;
  }
  
  /* Flexbox styles */
  .unique-charity-card .d-flex {
    display: flex;
  }
  
  /* Justify content between */
  .unique-charity-card .justify-content-between {
    justify-content: space-between;
  }
  
  /* Styles for primary button */
  .unique-charity-card .btn-primary {
    background-color: #C7A2CD;
    border-color: #007bff;
    width: 300px;
    height: 40px;
    color: black;
    font-weight: bold;
  }
  
  /* Button hover effect */
  .unique-charity-card .btn-primary:hover {
    background-color: #151C36;
    border-color: #0056b3;
    color: white;
    font-weight: bold;
  }
  
  /* Styles for share icon */
  .unique-charity-card .share {
    color: #00715D;
    border: 1px #00715D solid;
  }