.gradient-background-container {
    box-sizing: border-box;
    width: 2437px;
    height: 264px;
    background: linear-gradient(90deg, rgba(21, 28, 54, 1) 27.6%, rgba(171, 185, 183, 0.13) 72.4%);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-family:'Times New Roman', Times, serif; /* Use another font family */
    text-align: center;             /* Align text to the center */
  }

  .line {
    border-bottom: 1px solid grey; /* Change color and thickness as needed */
  }

  span.color{
    color: blue;
  }

  .card{
    border: 1px;
    height: 635.84px;
    top: 24px;
    left: 945.31px;
    border-radius: 10px;
    background-color: rgba(208, 208, 208, 1);
    display: inline-block;
    margin: 30px;
    text-align: center;
    align-items: center;
    padding: 20px;
} 

.donation-section {
    flex: 0 0 auto;
    padding: 90px 48px 90px 272px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background: linear-gradient(90deg, rgba(21, 28, 54, 1) 27.6%, rgba(171, 185, 183, 0.13) 72.4%);
  }
  .header-container {
    flex: 0 0 auto;
    border-radius: var(--border-radius-10);
    background: var(--color-white-168577);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 53px;
    padding-right: 26px;
    padding-left: 26px;
  }
  .header-title {
    flex: 0 0 auto;
    font: var(--font-weight-600) var(--font-size-18) "Open Sans";
    color: var(--color-white);
    text-transform: uppercase;
    white-space: pre-wrap;
  }
  .donation-title-style {
    flex: 0 0 auto;
    font: var(--font-weight-600) var(--font-size-18) "Open Sans";
    margin-left: 30px;
    color: var(--color-white);
    text-transform: uppercase;
    white-space: pre-wrap;
  }
  .donation-list-title {
    flex: 0 0 auto;
    font: var(--font-weight-700) var(--font-size-40) "Open Sans";
    margin-top: 24px;
    color: var(--color-white);
    text-transform: uppercase;
    white-space: pre-wrap;
  } 