.footer {
    background-color: #10013C;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 431px;
}

.main-footer{
    max-width: 1400px;
    margin: 0 auto;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;    
    font-size: 17px;
    border-bottom: 2px grey solid
}

.logo-container img {
    width: 329px;
    height: 120px;    
    mix-blend-mode: normal;  
    border-radius: 18px;  
}

.footer-navlinks ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    /* margin-right: 20px; */
}

.footer-navlinks .foot-link {
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
}

.footer-donate button {
    background-color: #FFF500;
    color: black;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-donate button:hover {
    background-color: #ddd;
}

.footer-body {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px grey solid
}

.column-1 {
    flex: 1;
    margin-right: 20px;

}

.column-head {
    color: #fff;
    font-size: 16px;
}

.foot-links {
    display: flex;
    flex-direction: column;
}

.foot-link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-body .foot-link {
    color: grey;
}


.projects-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.projects-item {
    display: flex;
    margin-bottom: 20px;
}

.projects-image img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.projects-details p {
    margin: 0;
    color: #fff;
}

.footer-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-row p {
    color: grey;
    text-align: center;
}

.footer-handles {
    display: flex;
    gap: 30px;
    font-size: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> main
