.image-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    max-width: 1000px;
    margin: 0 auto;  
    margin-top: 60px;
  }
  
  .image {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

.footer {
    background-color: #10013C;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    
}

.main-footer{
    max-width: 1000px;
    margin: 0 auto;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;    
    font-size: 12px;
    border-bottom: 2px grey solid
}

.logo-container img {
    width: 200px;
    /* height: 200px;     */
    mix-blend-mode: normal;  
    border-radius: 18px;  
}

.footer-navlinks ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    /* margin-right: 20px; */
}

.footer-navlinks .foot-link {
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
}

.footer-donate button {
    background-color: #FFF500;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-donate button:hover {
    background-color: #ddd;
}

.footer-body {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px grey solid
}

.column-1 {
    flex: 1;
    margin-right: 20px;

}

.column-head {
    color: #fff;
    font-size: 13px;
}

.foot-links {
    display: flex;
    flex-direction: column;
}

.foot-link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 12px;
}

.footer-body .foot-link {
    color: grey;
}


.projects-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.projects-item {
    display: flex;
    margin-bottom: 20px;
}

.projects-image img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.projects-details p {
    margin: 0;
    color: #fff;
    font-size: 12px;
}

.footer-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-row p {
    color: grey;
    text-align: center;
}

.footer-handles {
    display: flex;
    gap: 30px;
    font-size: 20px;
}
