
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .password-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .password-input span {
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
  }
  
  button {
    width: 150px;
    padding: 12px;
    background-color: green; /* Green button */
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgreen; /* Darker green on hover */
  }
  
  .login-link {
    color: #28a745; /* Green color */
    margin-top: 15px;
  }
<<<<<<< HEAD

  
=======
>>>>>>> main
  