.about-cards-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.about-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.15);
  width: 500px;
  background: #FFFFFF;
  border-radius: 10px;
}

.heart-icon {
  color: #e74c3c;
  font-size: 2em;
}

h3 {
  color: #333;
}

.read-more-link {
  color: #3498db;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.arrow-icon {
  vertical-align: middle;
  margin-left: 5px;
}


.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.about-details {
  flex: 1;
  border: 2px solid;

}

.about-details p {
  margin-bottom: 10px;
}

.about-details button {
  padding: 10px 20px;
  background-color: #007bff; /* Blue color for the button */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.about-details button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.about-details div {
  margin-top: 20px; /* Add space between sections */
}

.about-details .icon {
  margin-right: 10px;
}



.about-1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.about-2 {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-top: 10px;
}

.about-3 {
  font-size: 16px;
  color: #666;
  margin-top: 15px;
}


.donation-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.donation-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.icon-container {
  background-color: #ff6b6b;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #fff;
  font-size: 30px;
}

.title {
  font-size: 18px;
  color: #333;
  margin-top: 15px;
}

.description {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.donate-button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.donate-button:hover {
  background-color: #e54e4e;
}


.read-more-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.read-more-button:hover {
  background-color: #555;
}

.about-image {
  max-width: 100%;
  height: auto;
  flex: 1;
  border-radius: 10px;
  margin-left: 50px;
}

.company-logos {
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid;
}

.company-logos img {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.company-logos img:hover {
  transform: scale(1.1);
}


.volunteering-team {
  text-align: center;
  margin: 50px auto;
}

.volunteering-team h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  margin: 20px;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.team-member h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #555;
}

.team-member p {
  margin-top: 5px;
  color: #777;
}

.team-member img:hover {
  transform: scale(1.1);
}


.blog-section {
  margin-top: 50px;
}

.blog-header {
  text-align: center;
  margin-bottom: 40px;
}

.blog-header-small {
  font-size: 20px;
  color: #666;
}

.blog-header-large {
  font-size: 36px;
  color: #333;
}

.blog-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-card {
  width: 300px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.blog-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-card-content {
  padding: 20px;
}

.blog-card-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.blog-card-description {
  font-size: 16px;
  color: #666;
}

.blog-card-readmore {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.blog-card-readmore:hover {
  color: #0056b3;
}