.navbar {
  position: relative; /* Ensure navbar remains in the document flow */
  z-index: 2; /* Set a higher z-index to bring the navbar above other elements */
  border-bottom-left-radius: 15px; /* Add border radius to the bottom left */
  border-bottom-right-radius: 15px; /* Add border radius to the bottom right */
}

.homepage-landing {
  position: relative;
  height: 89vh;
}

.homepage-landing::before {
  content: "";
  position: absolute;
  top: -120px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://shorturl.at/dxHSY');
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  z-index: 1; /* Lower z-index to keep it behind the navbar */
}

.content-container {
  position: relative;
  z-index: 1;
  width: 650px;
  margin-left: 100px;
  padding-top: 50px;
  margin-top: 30px;
}

.header-1 {
  color: #FFB840;
  font-size: 17px;
  font-weight: bold;
}

.header-2 {
  color: white;
  font-size: 70px;
}

.header-3 {
  color: #36C9BB;
  font-size: 20px;
}


.content-btns {
  margin-top: 70px;
  margin-left: 100px;  
  
}

.content-btns button {
  margin-left: 40px;
  /* box-shadow: 0 1px 1px white; */
  border: 0;
  padding: 10px;
}

.content-btns button:hover {
  /* box-shadow: 0 2px 2px white; */
  cursor: pointer;
  
}

.become-donor-btn {
  background: #FFB840;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  
}

.signup-btn {
  width: 184px;
  background: #267969;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.carousel-item img {
  border-radius: 10px;
}

.other-contents {
  margin-top: 0px;
  /* box-shadow: 0 2px 2px 2px; */
  padding: 10px;
  margin-bottom: 70px;
}

.signup-btn-2 {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.carousel {
  border-radius: 20px;

}



.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.donation-container {
  width: 100%;
  max-width: 1300px; 
  margin: 0 auto;
  padding: 20px; /* Add padding for spacing */
  border: 2px orange solid;
  margin-top: 0px;
}

.donations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.donation-message {
  font-weight: bold;
  /* font-size: 18px; */
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
  margin-top: 100px;
}

/* In your HomePage.css file */
.donation-container .donation-message {
  font-size: 28px; /* Adjust the font size as needed */
  margin-bottom: 40px;
}


.donations-carousel {
  margin-top: 20px;
}



.homepage-testimonials {
  text-align: center;
  padding: 40px;
  background-color: #f8f8f8;
  margin-top: 100px;
}

.testimonial-header {
  margin-bottom: 20px;
}

.testimonial-title {
  font-size: 1.3rem;
  color: #00715D;
  font-weight: bold;
}

.testimonial-subtitle {
  font-size: 1.6rem;
  color: #555;
  font-weight: bold;
}

.testimonial-user-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.testimonial-user-images img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-content {
  max-width: 600px;
  margin: 0 auto;
}

.testimonial-author {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 5px;
}

.testimonial-location {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.testimonial-text {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.5;
}
